*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'nunito';
}

textarea:focus,
input:focus {
  outline: none;
}

/* Utilities */
.container {
  max-width: 1200px;
  padding: 0 1rem;
  margin: 1rem auto;
}

.about-container {
  max-width: 1200px;
  margin: 0 auto;
}

.bg-dark {
  background-color: black !important;
}
.text-dark {
  color: white !important;
}

/* Nav */
.nav-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0.4rem 1rem;
}

.nav {
  border-bottom: 1px solid black;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
}

.nav-links {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

.nav-link {
  margin-left: 2rem;
  color: white;
  text-decoration: none;
  font-size: 0.92rem;
}

.nav-title {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
}

/* User Card */
.user-card-container {
  display: grid;
  grid-template-columns: 19.5% 19.5% 19.5% 19.5% 19.5%;
  grid-gap: 0.6%;
}

.user-card {
  padding: 1rem 0.5rem;
  border: 1px solid black;
}

.detail-card {
  margin: 0 auto;
  max-width: 450px;
  margin: 2rem auto;
  padding: 1rem;
}

.detail-card-row {
  margin-bottom: 0.6rem !important;
}

/* .detail-card input {
  margin: 0.5rem;
} */

.user-card input,
.user-card label {
  display: block;
  width: 100%;
  margin: 0.3rem 0;
  color: black;
}

.user-card a,
.user-card input {
  font-size: 0.8rem;
}
.user-card label {
  font-size: 0.9rem;
}

.user-card input {
  border: 1px solid black;
  border-radius: none;
  background-color: white;
  padding: 0.2rem;
}

.user-card img {
  width: 100px;
  border: 1px solid white;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 0.5rem;
  display: block;
}

.user-card-buttons {
  display: flex;
  gap: 0.3rem;
  margin: 0.3rem 0;
}

.user-card a {
  flex: 1;
  display: block;
  padding: 0.2rem;
  border: 1px solid black;
  text-decoration: none;
  text-align: center;
  color: black;
}

/* Search */
.search-container {
  /* margin-top: 0.5rem; */
  margin-bottom: 1rem;
}

.search-form {
  display: flex;
}

.search-form input {
  display: block;
  width: 80.7%;
  border-radius: none;
  background-color: white;
  padding: 0.2rem;
  border: 1px solid black;
}

.search-form input[type='submit'] {
  width: 19.3%;
  border-left: none !important;
  text-align: center;
  cursor: pointer;
}

/* Alert */
.alert-container {
  margin-bottom: 0.5rem;
}

.alert {
  display: block;
  padding: 0.3rem;
  font-weight: 650;
  font-size: 0.8rem;
}

.alert-danger {
  background-color: #ffcccc;
  border: 1px solid #ff8080;
}

/* About */
.about-p {
  font-size: 0.9rem;
}

@media screen and (max-width: 900px) {
  .user-card-container {
    grid-template-columns: auto auto auto auto;
    grid-row-gap: 0.1%;
  }

  .search-form input {
    width: 76%;
  }

  .search-form input[type='submit'] {
    width: 24%;
  }
}

@media screen and (max-width: 700px) {
  .user-card-container {
    grid-template-columns: auto auto auto;
    grid-row-gap: 0.1%;
  }

  .search-form input {
    width: 68.5%;
  }

  .search-form input[type='submit'] {
    width: 32.5%;
  }
}

@media screen and (max-width: 500px) {
  .user-card-container {
    grid-template-columns: auto auto;
    grid-row-gap: 0.1%;
  }

  .search-form {
    flex-direction: column;
  }

  .search-form input,
  .search-form input[type='submit'] {
    display: block;
    width: 100%;
    margin: 0.1rem 0;
  }
}
